body {
    background-color: #000000;
}
#title {
    display:inline;
    max-width: 400px;
}
#author {
    display:inline;
    text-align:right;
    opacity: 0.5;
    padding: 10px;
    max-width: 200px;
    margin: 0 auto;
    font-size:16px;
}
#catogery {
    display:inline;
    font-size: 12px;
}
#description {
    max-width: 400px;
    border: 4px;
    background-color: #e9efef;
    height: 50vh;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#by
{
    display:inline;
    font-size: 16px;
    opacity:0.5;
}
#what {
    display: inline;
    max-width: 200px;
    font-size: 16px;
    text-align: right;
}
#BookBlock {
    background-color: #cad1d2;
    border-width: 10px;
    border-color: #507783;
    padding: 10px;
    max-width: 600px;
    height: 75vh;
    margin: 0 auto;
    border-radius: 15px;
}

